<div *ngIf="dataSource">
  <table mat-table [dataSource]="superheroes">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let superhero"> {{superhero.id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let superhero"> {{superhero.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let superhero">
        <button mat-icon-button color="primary" (click)="updateAction.emit(superhero)">
          <mat-icon>edit</mat-icon>
        </button>
        <app-delete-confirmation-action [superhero]="superhero" (confirmed)="deleteAction.emit(superhero)">
        </app-delete-confirmation-action>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let superhero; columns: displayedColumns"></mat-row>
  </table>
</div>
